.AboutRoot {
  min-height: 100vh;
  min-height: 947px;
  color: $heavyBlue;
  position: relative;
  box-shadow: 0px -21px 90px -15px rgba(2, 7, 3, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding-bottom: 136px;
  @media (min-width: 530px) {
    padding-bottom: 158px;
  }
  #about-paper {
    margin: auto auto;
    hr {
      border-color: $primaryColor;
    }

    padding: 1rem 1.5rem;

    #text-container {
      @media (min-width: 500px) {
        width: 60%;
      }
      @media (min-width: 700px) {
        margin-top: calc(348px / 2 / 2);
      }
    }

    #portrait-container {
      max-width: 348px;
      width: 65%;
      display: block;
      margin: 0 auto 1rem;

      @media (min-width: 500px) {
        width: 30%;
        display: inline-block;
        margin: 1rem;
      }

      #portrait {
        width: 100%;
        border: 3px solid black;
      }
    }
  }
  h4 {
    margin: 1rem 0;
  }
  .MyStack {
    width: 100%;
    color: white;
    padding-bottom: 1rem;

    img {
      height: 72px;
    }
  }
}
