.HeaderRoot {
  background-color: $navColor;
  position: fixed;
  width: 100%;
  z-index: 99;
  nav {
    .DesktopOnly {
      display: none;
    }
    padding: 5px 20px;
    #logo-container {
      img {
        width: 42px;
      }
      display: inline-block;
      vertical-align: bottom;
      margin-right: auto;
    }
    
    #nav-items{
      color: $text-white;
    }

    svg {
      stroke: white;
      fill: white;
    }

    div {
      padding: 0.2rem 0;
    }

    @media (min-width: 700px) {
      .DesktopOnly {
        display: block;
      }
      svg {
        display: none;
      }
      #logo-container {
        img {
          width: 64px;
        }
      }
    }
  }
  .Socials {
    overflow: hidden;
    height: 0px;
    img {
      width: 48px;
      height: 48px;
    }
  }
}
