.HomeRoot {
  min-height: 100vh;
  padding-top: calc(60.43px + 50px);
  h1 {
    font-size: 3rem;
    margin-bottom: 5px;
    @media (min-width: 800px) {
      font-size: 4rem;
    }
  }
  h6 {
    font-weight: bold;
  }
  p {
    font-size: 1.5rem;
  }
  a span {
    font-weight: bold;
    font-size: 1rem;
  }
  a {
    margin-top: 1rem;
    color: white;
  }
  div {
    div {
      padding: 1rem 1.5rem;
    }
  }
  @media (min-width: 700px) {
    padding-top: calc(75.37px + 100px);
  }
  #symbole {
    animation: pulse 7s infinite;
    @media (min-width: 500px) {
      &::after {
        content: " ";
      }
      &::before {
        content: " ";
      }
    }
  }
  @keyframes pulse {
    from {
      color: #fff;
    }
    20% {
      color: #00e01a;
    }
    40% {
      color: #fff;
    }
    to {
      color: #fff;
    }
  }
}
