.HomeRoot {
  min-height: 100vh;
  padding-top: calc(60.43px + 50px);
  h1 {
    font-size: 3rem;
    margin-bottom: 5px;
    @media (min-width: 800px) {
      font-size: 4rem;
    }
  }
  h6 {
    font-weight: bold;
  }
  p {
    font-size: 1.5rem;
  }
  a span {
    font-weight: bold;
    font-size: 1rem;
  }
  a {
    margin-top: 1rem;
    color: white;
  }
  .Buttons{
    margin-top: 1rem;
    margin-bottom: 60px;
    div:nth-of-type(2) a span{
      min-width: 80px;
    }
    div:nth-of-type(3) a span{
      min-width: 80px;
    }
  }
  @media (min-width: 700px) {
    padding-top: calc(75.37px + 100px);
  }
  #symbole {
    animation: pulse 7s infinite;
    @media (min-width: 500px) {
      &::after {
        content: " ";
      }
      &::before {
        content: " ";
      }
    }
  }
  img {
    width: 200px;
    animation: pulseBorder 7s infinite;
    border-radius: 2px;
  }
  @keyframes pulseBorder {
    from {
      box-shadow: inherit;
    }
    20% {
      box-shadow: 0px 0px 50px -2px rgba(0,224,26,0.2);
    }
    40% {
      box-shadow: inherit;
    }
    60% {
      box-shadow: inherit;
    }
    80%{ 
box-shadow: 0px 0px 50px -2px rgba(0,224,26,0.2);
    }
    to {
      box-shadow: inherit;
    }
  }
  @keyframes pulse {
    from {
      color: #fff;
    }
    20% {
      color: #00e01a;
    }
    40% {
      color: #fff;
    }
    60% {
      color: #fff;
    }
    80%{
      color: #00e01a;
    }
    to {
      color: #fff;
    }
  }
}
