.SidebarRoot {
  height: calc(100vh - 60.43px);
  width: 0px;
  position: fixed;
  right: 0px;
  top: 60.43px;
  z-index: 99;
  background-color: $navColor;
  color: white;
  text-align: center;
  overflow: hidden;
  div {
    div,
    a {
      border-bottom: white 2px solid;
      padding: 5px 0;
      text-decoration: none;
      color:white;
      :visited{
        color:white
      }
      :hover {
         color:$secondaryColor
      }
      :active {
        color:$secondaryColor
      }
    }
  }
}
