.AboutRoot {
  height: 100vh;
  padding-top: 10%;
  background-color: #dce7e0;

  #about-paper {
    hr {
      margin-bottom: 2rem;
      border-color: #252628;
    }
    background-color: #b7cbca;
    padding: 1.5rem 2rem;
    height: 100%;
    #portrait {
      width: 30%;
      border: 3px solid black;
      float: left;
      opacity: 90%;
      margin: 0 2rem;
    }
  }
}
