.HeaderRoot {
  background-color: #414c51;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.HeaderRoot nav .DesktopOnly {
  display: none;
}

.HeaderRoot nav #logo-container {
  display: inline-block;
  vertical-align: bottom;
}

.HeaderRoot nav #logo-container img {
  width: 42px;
}

.HeaderRoot nav #nav-items {
  width: 85%;
  display: inline-block;
  padding-top: 15.5px;
  vertical-align: top;
}

.HeaderRoot nav #nav-items div {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.HeaderRoot nav svg {
  stroke: white;
  fill: white;
}

.HeaderRoot nav div {
  padding: 0.2rem 0;
}

@media (min-width: 700px) {
  .HeaderRoot nav .DesktopOnly {
    display: block;
  }
  .HeaderRoot nav svg {
    display: none;
  }
  .HeaderRoot nav #logo-container {
    width: 15%;
  }
  .HeaderRoot nav #logo-container img {
    width: 64px;
  }
  .HeaderRoot nav #nav-items {
    width: 85%;
  }
  .HeaderRoot nav #nav-items div {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.HeaderRoot .Socials {
  overflow: hidden;
  height: 0px;
}

.HeaderRoot .Socials img {
  width: 48px;
  height: 48px;
}

.HomeRoot {
  height: 100vh;
  padding-top: calc(60.43px + 50px);
}

.HomeRoot h6 {
  font-weight: bold;
}

.HomeRoot div div {
  padding: 1rem 1.5rem;
}

@media (min-width: 700px) {
  .HomeRoot {
    padding-top: calc(75.37px + 100px);
  }
}

#lines {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

#lines #path {
  fill: #dce7e0;
  stroke: black;
  stroke-width: 2;
}

.ProjectsRoot {
  padding-top: calc(60.43px + 50px);
  height: 100vh;
  text-align: center;
}

.ProjectsRoot h1 {
  margin-bottom: 2rem;
}

@media (min-width: 700px) {
  .ProjectsRoot {
    padding-top: calc(75.37px + 100px);
  }
}

.ProjectsRoot .ProjectCard {
  height: 350px;
  position: relative;
}

.ProjectsRoot .ProjectCard div {
  padding: 1rem;
}

.ProjectsRoot .ProjectCard div h3 {
  margin-bottom: 1rem;
}

.ProjectsRoot .ProjectCard div .BottomCard {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.ProjectsRoot .ProjectCard div .BottomCard a {
  margin-left: 1rem;
}

.AboutRoot {
  height: calc(100vh + 120px);
  background-color: #dce7e0;
  color: #181c20;
  position: relative;
}

@media (min-width: 500px) {
  .AboutRoot {
    padding-top: calc(75.37px + 100px);
  }
}

.AboutRoot #about-paper {
  background-color: #B7CBCA;
  padding: 1rem 1.5rem;
}

.AboutRoot #about-paper hr {
  margin-bottom: 2rem;
  border-color: #252628;
}

.AboutRoot #about-paper #text-container {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

@media (min-width: 500px) {
  .AboutRoot #about-paper #text-container {
    width: 60%;
  }
}

@media (min-width: 700px) {
  .AboutRoot #about-paper #text-container {
    margin-top: calc(348px / 2 / 2);
  }
}

.AboutRoot #about-paper #portrait-container {
  max-width: 348px;
  width: 65%;
  display: block;
  margin: 0 auto 1rem;
}

@media (min-width: 500px) {
  .AboutRoot #about-paper #portrait-container {
    width: 30%;
    display: inline-block;
    margin: 1rem;
  }
}

.AboutRoot #about-paper #portrait-container #portrait {
  width: 100%;
  border: 3px solid black;
}

.AboutRoot .MyStack {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: #414c51;
}

.AboutRoot .MyStack img {
  width: 42px;
  height: 42px;
}

@media (min-width: 530px) {
  .AboutRoot .MyStack img {
    width: 64px;
    height: 64px;
  }
}

.SidebarRoot {
  height: calc(100vh - 60.43px);
  width: 0px;
  position: fixed;
  right: 0px;
  top: 60.43px;
  z-index: 99;
  background-color: #414c51;
  color: white;
  text-align: center;
  overflow: hidden;
}

.SidebarRoot div div,
.SidebarRoot div a {
  border-bottom: white 2px solid;
  padding: 5px 0;
  text-decoration: none;
  color: white;
}

.SidebarRoot div div :visited,
.SidebarRoot div a :visited {
  color: white;
}

.SidebarRoot div div :hover,
.SidebarRoot div a :hover {
  color: #598288;
}

.SidebarRoot div div :active,
.SidebarRoot div a :active {
  color: #598288;
}
/*# sourceMappingURL=index.css.map */