.HeaderRoot {
  background-color: #011502;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.HeaderRoot nav {
  padding: 5px 20px;
}

.HeaderRoot nav .DesktopOnly {
  display: none;
}

.HeaderRoot nav #logo-container {
  display: inline-block;
  vertical-align: bottom;
  margin-right: auto;
}

.HeaderRoot nav #logo-container img {
  width: 42px;
}

.HeaderRoot nav #nav-items {
  color: #FBF5F3;
}

.HeaderRoot nav svg {
  stroke: white;
  fill: white;
}

.HeaderRoot nav div {
  padding: 0.2rem 0;
}

@media (min-width: 700px) {
  .HeaderRoot nav .DesktopOnly {
    display: block;
  }
  .HeaderRoot nav svg {
    display: none;
  }
  .HeaderRoot nav #logo-container img {
    width: 64px;
  }
}

.HeaderRoot .Socials {
  overflow: hidden;
  height: 0px;
}

.HeaderRoot .Socials img {
  width: 48px;
  height: 48px;
}

.HomeRoot {
  min-height: 100vh;
  padding-top: calc(60.43px + 50px);
}

.HomeRoot h1 {
  font-size: 3rem;
  margin-bottom: 5px;
}

@media (min-width: 800px) {
  .HomeRoot h1 {
    font-size: 4rem;
  }
}

.HomeRoot h6 {
  font-weight: bold;
}

.HomeRoot p {
  font-size: 1.5rem;
}

.HomeRoot a span {
  font-weight: bold;
  font-size: 1rem;
}

.HomeRoot a {
  margin-top: 1rem;
  color: white;
}

.HomeRoot .Buttons {
  margin-top: 1rem;
  margin-bottom: 60px;
}

.HomeRoot .Buttons div:nth-of-type(2) a span {
  min-width: 80px;
}

.HomeRoot .Buttons div:nth-of-type(3) a span {
  min-width: 80px;
}

@media (min-width: 700px) {
  .HomeRoot {
    padding-top: calc(75.37px + 100px);
  }
}

.HomeRoot #symbole {
  -webkit-animation: pulse 7s infinite;
          animation: pulse 7s infinite;
}

@media (min-width: 500px) {
  .HomeRoot #symbole::after {
    content: " ";
  }
  .HomeRoot #symbole::before {
    content: " ";
  }
}

.HomeRoot img {
  width: 200px;
  -webkit-animation: pulseBorder 7s infinite;
          animation: pulseBorder 7s infinite;
  border-radius: 2px;
}

@-webkit-keyframes pulseBorder {
  from {
    -webkit-box-shadow: inherit;
            box-shadow: inherit;
  }
  20% {
    -webkit-box-shadow: 0px 0px 50px -2px rgba(0, 224, 26, 0.2);
            box-shadow: 0px 0px 50px -2px rgba(0, 224, 26, 0.2);
  }
  40% {
    -webkit-box-shadow: inherit;
            box-shadow: inherit;
  }
  60% {
    -webkit-box-shadow: inherit;
            box-shadow: inherit;
  }
  80% {
    -webkit-box-shadow: 0px 0px 50px -2px rgba(0, 224, 26, 0.2);
            box-shadow: 0px 0px 50px -2px rgba(0, 224, 26, 0.2);
  }
  to {
    -webkit-box-shadow: inherit;
            box-shadow: inherit;
  }
}

@keyframes pulseBorder {
  from {
    -webkit-box-shadow: inherit;
            box-shadow: inherit;
  }
  20% {
    -webkit-box-shadow: 0px 0px 50px -2px rgba(0, 224, 26, 0.2);
            box-shadow: 0px 0px 50px -2px rgba(0, 224, 26, 0.2);
  }
  40% {
    -webkit-box-shadow: inherit;
            box-shadow: inherit;
  }
  60% {
    -webkit-box-shadow: inherit;
            box-shadow: inherit;
  }
  80% {
    -webkit-box-shadow: 0px 0px 50px -2px rgba(0, 224, 26, 0.2);
            box-shadow: 0px 0px 50px -2px rgba(0, 224, 26, 0.2);
  }
  to {
    -webkit-box-shadow: inherit;
            box-shadow: inherit;
  }
}

@-webkit-keyframes pulse {
  from {
    color: #fff;
  }
  20% {
    color: #00e01a;
  }
  40% {
    color: #fff;
  }
  60% {
    color: #fff;
  }
  80% {
    color: #00e01a;
  }
  to {
    color: #fff;
  }
}

@keyframes pulse {
  from {
    color: #fff;
  }
  20% {
    color: #00e01a;
  }
  40% {
    color: #fff;
  }
  60% {
    color: #fff;
  }
  80% {
    color: #00e01a;
  }
  to {
    color: #fff;
  }
}

.ProjectsRoot {
  -webkit-box-shadow: 0px 50px 40px -35px rgba(0, 0, 0, 0.81) inset;
          box-shadow: 0px 50px 40px -35px rgba(0, 0, 0, 0.81) inset;
  padding: 40px 20px;
  text-align: center;
  min-height: 100vh;
  min-height: 947px;
  background-color: #6a898a;
  color: white;
}

.ProjectsRoot h1 {
  margin-bottom: 40px;
}

.ProjectsRoot .ProjectCard {
  min-height: 598px;
  position: relative;
}

.ProjectsRoot .ProjectCard div {
  padding: 1rem;
}

.ProjectsRoot .ProjectCard div h2 {
  margin-bottom: 1rem;
}

.ProjectsRoot .ProjectCard div hr {
  margin-top: 0;
  margin-bottom: 1rem;
}

.ProjectsRoot .ProjectCard div ul {
  text-align: left;
  height: 0;
  overflow: hidden;
  margin: 0;
}

.ProjectsRoot .ProjectCard div h6 {
  cursor: pointer;
}

.ProjectsRoot .ProjectCard div .ProjectImage {
  max-width: 100%;
  height: 300px;
}

.ProjectsRoot .ProjectCard div .StackSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.ProjectsRoot .ProjectCard div .StackSection img {
  width: 64px;
  height: 64px;
}

.ProjectsRoot .ProjectCard div button,
.ProjectsRoot .ProjectCard div a {
  margin-right: 10px;
}

.CertificationRoot {
  padding: 40px 20px;
  text-align: center;
  min-height: 100vh;
  min-height: 947px;
  background-color: #6a898a;
  color: white;
}

.CertificationRoot h1 {
  margin-bottom: 40px;
}

.CertificationRoot .ProjectCard {
  min-height: 598px;
  position: relative;
}

.CertificationRoot .ProjectCard div {
  padding: 1rem;
}

.CertificationRoot .ProjectCard div h2 {
  margin-bottom: 1rem;
}

.CertificationRoot .ProjectCard div hr {
  margin-top: 0;
  margin-bottom: 1rem;
}

.CertificationRoot .ProjectCard div ul {
  text-align: left;
  height: 0;
  overflow: hidden;
  margin: 0;
}

.CertificationRoot .ProjectCard div h6 {
  cursor: pointer;
}

.CertificationRoot .ProjectCard div .ProjectImage {
  max-width: 100%;
  height: 300px;
}

.CertificationRoot .ProjectCard div .StackSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.CertificationRoot .ProjectCard div .StackSection img {
  width: 64px;
  height: 64px;
}

.CertificationRoot .ProjectCard div button,
.CertificationRoot .ProjectCard div a {
  margin-right: 10px;
}

.AboutRoot {
  min-height: 100vh;
  min-height: 947px;
  color: #181c20;
  position: relative;
  -webkit-box-shadow: 0px -21px 90px -15px rgba(2, 7, 3, 0.8);
          box-shadow: 0px -21px 90px -15px rgba(2, 7, 3, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 100%;
  padding-bottom: 136px;
}

@media (min-width: 530px) {
  .AboutRoot {
    padding-bottom: 158px;
  }
}

.AboutRoot #about-paper {
  margin: auto auto;
  padding: 1rem 1.5rem;
}

.AboutRoot #about-paper hr {
  border-color: #00E01A;
}

@media (min-width: 500px) {
  .AboutRoot #about-paper #text-container {
    width: 60%;
  }
}

@media (min-width: 700px) {
  .AboutRoot #about-paper #text-container {
    margin-top: calc(348px / 2 / 2);
  }
}

.AboutRoot #about-paper #portrait-container {
  max-width: 348px;
  width: 65%;
  display: block;
  margin: 0 auto 1rem;
}

@media (min-width: 500px) {
  .AboutRoot #about-paper #portrait-container {
    width: 30%;
    display: inline-block;
    margin: 1rem;
  }
}

.AboutRoot #about-paper #portrait-container #portrait {
  width: 100%;
  border: 3px solid black;
}

.AboutRoot h4 {
  margin: 1rem 0;
}

.AboutRoot .MyStack {
  width: 100%;
  color: white;
  padding-bottom: 1rem;
}

.AboutRoot .MyStack img {
  height: 72px;
}

.SidebarRoot {
  height: calc(100vh - 60.43px);
  width: 0px;
  position: fixed;
  right: 0px;
  top: 60.43px;
  z-index: 99;
  background-color: #011502;
  color: white;
  text-align: center;
  overflow: hidden;
}

.SidebarRoot div div,
.SidebarRoot div a {
  margin-top: 5px;
  border-bottom: white 2px solid;
  padding: 5px 0;
  text-decoration: none;
  color: white;
}

.SidebarRoot div div :visited,
.SidebarRoot div a :visited {
  color: white;
}

.SidebarRoot div div :hover,
.SidebarRoot div a :hover {
  color: #3E92CC;
}

.SidebarRoot div div :active,
.SidebarRoot div a :active {
  color: #3E92CC;
}

body {
  overflow-x: hidden;
}

body article {
  overflow-x: hidden;
}
/*# sourceMappingURL=index.css.map */