.HeaderRoot {
  background-color: #363946;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.HeaderRoot nav {
  padding: 0 20px;
}

.HeaderRoot nav .DesktopOnly {
  display: none;
}

.HeaderRoot nav #logo-container {
  display: inline-block;
  vertical-align: bottom;
  margin-right: auto;
}

.HeaderRoot nav #logo-container img {
  width: 42px;
}

.HeaderRoot nav #nav-items {
  padding-top: 15.5px;
  color: #FBF5F3;
}

.HeaderRoot nav svg {
  stroke: white;
  fill: white;
}

.HeaderRoot nav div {
  padding: 0.2rem 0;
}

@media (min-width: 700px) {
  .HeaderRoot nav .DesktopOnly {
    display: block;
  }
  .HeaderRoot nav svg {
    display: none;
  }
  .HeaderRoot nav #logo-container {
    width: 15%;
  }
  .HeaderRoot nav #logo-container img {
    width: 64px;
  }
}

.HeaderRoot .Socials {
  overflow: hidden;
  height: 0px;
}

.HeaderRoot .Socials img {
  width: 48px;
  height: 48px;
}

.HomeRoot {
  min-height: 100vh;
  padding-top: calc(60.43px + 50px);
}

.HomeRoot h6 {
  font-weight: bold;
}

.HomeRoot p {
  font-size: 1.2rem;
}

.HomeRoot a span {
  font-weight: bold;
  font-size: 1rem;
}

.HomeRoot div div {
  padding: 1rem 1.5rem;
}

@media (min-width: 700px) {
  .HomeRoot {
    padding-top: calc(75.37px + 100px);
  }
}

#lines {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

#lines #path {
  fill: #D6EAFF;
  stroke: black;
  stroke-width: 2;
}

.ProjectsRoot {
  padding-top: calc(60.43px + 50px);
  height: 100vh;
  text-align: center;
}

.ProjectsRoot h1 {
  margin-bottom: 2rem;
}

@media (min-width: 700px) {
  .ProjectsRoot {
    padding-top: calc(75.37px + 100px);
  }
}

.ProjectsRoot .ProjectCard {
  min-height: 598px;
  position: relative;
}

.ProjectsRoot .ProjectCard div {
  padding: 1rem;
}

.ProjectsRoot .ProjectCard div h2 {
  margin-bottom: 1rem;
}

.ProjectsRoot .ProjectCard div hr {
  margin-top: 0;
  margin-bottom: 1rem;
}

.ProjectsRoot .ProjectCard div ul {
  text-align: left;
  height: 0;
  overflow: hidden;
  margin: 0;
}

.ProjectsRoot .ProjectCard div h6 {
  cursor: pointer;
}

.ProjectsRoot .ProjectCard div .ProjectImage {
  max-width: 100%;
  height: 300px;
}

.ProjectsRoot .ProjectCard div .StackSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.ProjectsRoot .ProjectCard div .StackSection img {
  width: 64px;
  height: 64px;
}

.ProjectsRoot .ProjectCard div button, .ProjectsRoot .ProjectCard div a {
  margin-right: 10px;
}

.AboutRoot {
  min-height: calc(100vh + 120px);
  background-color: #D6EAFF;
  color: #181c20;
  position: relative;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 500px) {
  .AboutRoot {
    padding-top: calc(75.37px + 100px);
  }
}

.AboutRoot #about-paper {
  background-color: #C9E3F8;
  padding: 1rem 1.5rem;
}

.AboutRoot #about-paper hr {
  margin-bottom: 2rem;
  border-color: #363946;
}

.AboutRoot #about-paper #text-container {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

@media (min-width: 500px) {
  .AboutRoot #about-paper #text-container {
    width: 60%;
  }
}

@media (min-width: 700px) {
  .AboutRoot #about-paper #text-container {
    margin-top: calc(348px / 2 / 2);
  }
}

.AboutRoot #about-paper #portrait-container {
  max-width: 348px;
  width: 65%;
  display: block;
  margin: 0 auto 1rem;
}

@media (min-width: 500px) {
  .AboutRoot #about-paper #portrait-container {
    width: 30%;
    display: inline-block;
    margin: 1rem;
  }
}

.AboutRoot #about-paper #portrait-container #portrait {
  width: 100%;
  border: 3px solid black;
}

.AboutRoot .MyStack {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: #363946;
}

.AboutRoot .MyStack h4 {
  margin: 1rem 0;
}

.AboutRoot .MyStack img {
  width: 42px;
  height: 42px;
}

@media (min-width: 530px) {
  .AboutRoot .MyStack img {
    width: 64px;
    height: 64px;
  }
}

.SidebarRoot {
  height: calc(100vh - 60.43px);
  width: 0px;
  position: fixed;
  right: 0px;
  top: 60.43px;
  z-index: 99;
  background-color: #363946;
  color: white;
  text-align: center;
  overflow: hidden;
}

.SidebarRoot div div,
.SidebarRoot div a {
  border-bottom: white 2px solid;
  padding: 5px 0;
  text-decoration: none;
  color: white;
}

.SidebarRoot div div :visited,
.SidebarRoot div a :visited {
  color: white;
}

.SidebarRoot div div :hover,
.SidebarRoot div a :hover {
  color: #3E92CC;
}

.SidebarRoot div div :active,
.SidebarRoot div a :active {
  color: #3E92CC;
}
/*# sourceMappingURL=index.css.map */