#gpic {
    width: 100px;
    height: 60%;
}

#gpicmain {
    width: 75%;
    height: 70%;
    margin: 0px auto;
}
#gbChar{
    width: 50%;
    @include container();
}
#Characters{
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
}
#charDiv{
    flex:1 0 23%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px lightgrey solid;
    height: 100%;
    width: 100%;
    overflow: hidden;
    h1{
    font-size: 28px;
    }
    p{
    margin:0px;
    font-size: 22px;
    text-align: center;
    color:lightblue;
    }
}
#charselect {
    padding: 0px;
    z-index: 10;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    overflow: hidden;

    h2{
        padding: 10px 0px;
        border-bottom: 1px solid white;
        margin-bottom: 10px;
    }
}

#gbChar{
    margin-bottom: 20px;
    width: 100px;
}

#gameArea{
    height: 100%;

    figure{
        height: 75%;
        overflow: hidden;
    }
}
.gBack{
    padding: 5px 10px;
    background-color: darkgray;
    border: white solid 1px;
    border-radius: 15px;
}
.tTitle{
    font-size: 70px;
}
.gi{
    position: fixed;
    height: 100%;
    left:0;
    top:0;
    padding: 30px 0px 0px;
    width: 0px;
    background-color: gray;
    z-index: 5;
    overflow-x: hidden;

    table {
        margin-top:30px;
        tr{
            #Ltitle{
                text-align: right;
            }
            td{
                padding: 0 20px 0px 20px;
            }
        }
    }
}
@include Tablet(){
    .gi{
        table{
            margin: 0 auto;
            transform: translateX(-20%);
        }
    }
}
@include Desktop(){
    #gpicmain{
        width: 50%;
    }
    #gameArea{
        figure{
            margin: 0 auto;
            width: 50%;
        }
    }
    #Characters{
        height: 100vh;
        flex-flow: row wrap;
        h2{
            width: 100vw;
            height: 60px;
        }
    }
    #gbChar {
        margin-top: 10px;
        height: 60px;
    }
    #gpic{
        width: 200px;
    }
    #charDiv{
        flex: 0 0 33%;
        height: 75%;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px lightgrey solid;
        overflow: hidden;
        h1{
        font-size: 28px;
        }
        p{
        margin:0px;
        font-size: 22px;
        text-align: center;
        color:lightblue;
        }
    }
    #gpic {
        width: 100px;
        height: 60%;
    }
}