nav{
    position: relative;
    overflow: hidden;
  }
#Socialbtn{
  user-select: none;
}
nav div {
    align-self: baseline;
    display: flex;
    margin: 0 auto;
}

.socials{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 0px;
    overflow: hidden;
  
    ul li{
      text-decoration: none;
      display: inline;
      margin-left: 5px;
      margin-right: 5px;
    }
}
.social{
  height: 44px;
}
  //Desktop Nav Layout
  @include Desktop(){
    nav div {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }

    #desc{
        align-self: flex-end;
        margin-bottom: 0px;
    }

    .nav-link{
        display: inline;
    }
}