/* 
  Bootstrap CDN
*/

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");


/*
  General Style
*/

*{
  color: white;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}
header{
  background-color: black;
  margin-bottom: 50px;
}
article{
  background-color: rgba(0,0,0,0.75);
}
hr{
  border-color: white;
}
h1{
  text-align: center;
}
p {
  text-align: justify;
}
#portrait{
  border-radius: 50px;
  padding: 10px;
}
#charselect {
  z-index: 10;
  background-color: gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  overflow: hidden;
}
.socials{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
}

/*
  Desktop Style
*/

@media only screen and (min-width:800px){
  #download{
    display: none;
  }
  
  #portrait{
    width: 300px;
    height: 500px;
    float: left;
  }
  article article{
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
  }
  h1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
  }

  p{
    font-size: 20px;
  }
  article{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px; 
  }
  article p {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
}
/*
  Tablet Style
*/
@media only screen and (min-width: 500px) and (max-width:800px){

}
/*
  Phone Style
*/
@media only screen and (max-width: 500px){
  article {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 5px;
  }

  #portrait{
    width: 100%;
  }
  #btnSH, #desc, embed {
    display: none;
  }

  .project {
    margin-bottom: 50px;
  }
}

.tTitle{
  font-size: 70px;
}
.gi table {
  margin-left:auto;
  margin-right:auto;
  margin-top:300px;
}
.gi{
  position: fixed;
  height: 100%;
  left:0;
  top:0;
  padding-top: 100px;
  width: 0px;
  background-color: gray;
  z-index: 5;
  overflow-x: hidden;
}
.socials ul li{
  text-decoration: none;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}
.social{
  height: 50px;
  width: 50px;
}
#vid{
  min-width: 100%;
  min-height: 100%;
  z-index: -999;
  position: fixed;
  left: 0;
  top: 0;
}

#gpic {
  width: 100px;
  height: 150px;
}

#gpicmain {
  width: 300px;
  height: 450px;
  margin-right: 25%;
  margin-left: 1px;
}