@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
nav {
  position: relative;
  overflow: hidden;
}

#Socialbtn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav div {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.socials {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
}

.socials ul li {
  text-decoration: none;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

.social {
  height: 44px;
}

@media only screen and (min-width: 800px) {
  nav div {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  #desc {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 0px;
  }
  .nav-link {
    display: inline;
  }
}

#gpic {
  width: 100px;
  height: 60%;
}

#gpicmain {
  width: 75%;
  height: 70%;
  margin: 0px auto;
}

#gbChar {
  width: 50%;
  width: 75%;
  margin: 0 auto;
}

#Characters {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

#charDiv {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 23%;
          flex: 1 0 23%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px lightgrey solid;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#charDiv h1 {
  font-size: 28px;
}

#charDiv p {
  margin: 0px;
  font-size: 22px;
  text-align: center;
  color: lightblue;
}

#charselect {
  padding: 0px;
  z-index: 10;
  background-color: gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  overflow: hidden;
}

#charselect h2 {
  padding: 10px 0px;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

#gbChar {
  margin-bottom: 20px;
  width: 100px;
}

#gameArea {
  height: 100%;
}

#gameArea figure {
  height: 75%;
  overflow: hidden;
}

.gBack {
  padding: 5px 10px;
  background-color: darkgray;
  border: white solid 1px;
  border-radius: 15px;
}

.tTitle {
  font-size: 70px;
}

.gi {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  padding: 30px 0px 0px;
  width: 0px;
  background-color: gray;
  z-index: 5;
  overflow-x: hidden;
}

.gi table {
  margin-top: 30px;
}

.gi table tr #Ltitle {
  text-align: right;
}

.gi table tr td {
  padding: 0 20px 0px 20px;
}

@media only screen and (min-width: 500px) {
  .gi table {
    margin: 0 auto;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

@media only screen and (min-width: 800px) {
  #gpicmain {
    width: 50%;
  }
  #gameArea figure {
    margin: 0 auto;
    width: 50%;
  }
  #Characters {
    height: 100vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #Characters h2 {
    width: 100vw;
    height: 60px;
  }
  #gbChar {
    margin-top: 10px;
    height: 60px;
  }
  #gpic {
    width: 200px;
  }
  #charDiv {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
    height: 75%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px lightgrey solid;
    overflow: hidden;
  }
  #charDiv h1 {
    font-size: 28px;
  }
  #charDiv p {
    margin: 0px;
    font-size: 22px;
    text-align: center;
    color: lightblue;
  }
  #gpic {
    width: 100px;
    height: 60%;
  }
}

.project {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: solid white 1px;
}

.project * {
  text-align: center;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

/* Tablet Layout */
@media only screen and (min-width: 500px) {
  .project {
    height: 100%;
    width: 100%;
  }
  .project p {
    text-align: center;
  }
  .projects {
    width: 75%;
    margin: 0 auto;
  }
}

/* Desktop Layout */
@media only screen and (min-width: 800px) {
  .project {
    padding-bottom: 0px;
    margin-bottom: 20px;
    border-bottom: 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
    height: 40vh;
  }
  .project p {
    margin-bottom: 0px;
  }
  #projTop {
    height: 60%;
  }
  #projBot {
    height: 40%;
  }
  .projects {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

#map {
  width: 100%;
}

#weather h2::after {
  content: "'s Weather";
}

#aImg {
  width: 100%;
  height: 30vh;
}

#article:nth-child(1) {
  display: none;
}

#article {
  margin: 10px 0px;
  padding: 30px 0px;
  border-bottom: lightgrey 1px solid;
}

#article #source {
  font-size: 1rem;
  text-align: left;
}

#article #source ::before {
  content: 'Published: ';
}

#article #source #aDate {
  float: right;
}

#article #source::before {
  content: 'Source: ';
}

#article h1 {
  font-size: 2rem;
}

#article p {
  font-size: 1.3rem;
}

#article a {
  text-decoration: none;
  padding: 5px 20px;
  color: black;
  background-color: grey;
  margin-bottom: 10px;
}

#article a:visited {
  color: black;
}

#article a:hover {
  background-color: lightgrey;
  padding: 10px 30px;
}

#PSearch {
  color: black;
}

#Search {
  margin-top: 20px;
  padding: 0px 20px;
  background-color: blue;
  border: lightblue solid 1px;
}

@media only screen and (min-width: 800px) {
  #Search {
    margin-left: 20px;
  }
  #ltime {
    text-align: left;
    font-size: 1.5rem;
  }
  #weather {
    padding-top: 30px;
    float: left;
    width: 20%;
  }
  #map {
    width: 80%;
    margin-left: 20%;
  }
  #infoarea {
    width: 100%;
  }
  #article h1 {
    font-size: 2.7rem;
  }
  #article p, #article a {
    font-size: 2rem;
  }
  #article #source {
    font-size: 1.5rem;
  }
  #aImg {
    height: 50vh;
  }
}

* {
  color: white;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  text-align: center;
}

header {
  background-color: black;
  margin-bottom: 30px;
}

#map {
  height: 70vh;
  overflow: visible;
}

#map div {
  overflow: visible;
}

article {
  background-color: rgba(0, 0, 0, 0.75);
  margin: 0px 10px 20px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

article > * {
  padding: 0px 20px;
}

hr {
  border-color: white;
}

h1 {
  text-align: center;
  font-size: 38px;
}

h2 {
  font-size: 32px;
  text-align: center;
}

/* Id Selectors */
#Good {
  color: green;
}

#Bad {
  color: red;
}

#fs {
  width: 100%;
  height: 85vh;
  padding: 0px;
  margin: 0px;
  margin-top: -30px;
  text-align: center;
  overflow: hidden;
}

#main {
  overflow-y: hidden;
}

#btnCenter {
  width: 100%;
  text-align: center;
}

#portrait {
  width: 100%;
  border-radius: 50px;
  margin-bottom: 30px;
}

#btnSH, #desc, embed {
  display: none;
}

#downloadR {
  display: block;
  text-align: center;
}

#vid {
  min-width: 100%;
  min-height: 100%;
  z-index: -999;
  position: fixed;
  padding: 0px;
  left: 0;
  top: 0;
}

/* Tablet Layout */
@media only screen and (min-width: 500px) {
  #portrait {
    width: 50%;
    border-radius: 50px;
    margin-bottom: 30px;
  }
  #downloadR {
    display: inline;
  }
}

/* Desktop Layout */
@media only screen and (min-width: 800px) {
  #downloadR {
    display: none;
  }
  #desc, embed {
    display: block;
  }
  #btnSH {
    display: inline;
  }
  #pdf {
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  #portrait {
    display: none;
  }
  #homePage {
    width: 75%;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=App.css.map */